---
layout: page
---

{{ content }}

<table>
  <thead>
    <tr>
      <th>Šifra</th>
      <th>Naziv</th>
      <th>Cena</th>
      <th>Srbobran</th>
      <th>Futog</th>
    </tr>
  </thead>
  <tbody>
    {% assign articles = site[page.collection_name] | sort: "sku" | reverse %}
    {% for article in articles %}
    {% assign item_data = site.data.collections[page.collection_name][article.sku] %}
    <tr>
      <td>{{ article.sku }}</td>
      <td><a href="{{ article.url | relative_url }}">{{ article.title }}</a></td>
      <td>{% if item_data.price %}{{ item_data.price }}{% endif %}</td>
      <td>{% if item_data.srbobran %}{{ item_data.srbobran }}{% endif %}</td>
      <td>{% if item_data.futog %}{{ item_data.futog }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
